body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    gap: 10px;
    margin: 100px auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
}
/* CUANDO SE SELECCIONE/ ESTE ACTIVO ALGUN ELEMENTO DENTRO DEL DIV */
.searchBar:focus-within{
    border: 1px solid gray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
    /* x, y, difuminado color (negro, opacidad baja (0,2)) */
}

.searchBar input[type="text"]{
    flex-grow: 1;
    border: none;
    outline: none; /* Este es el bordesito cuando esta activado */
    padding: 10px;
    font-size: 18px;
}

.searchBar input:active{
    border: none;
}

.searchBar .actions{
    cursor: pointer;
}
.searchBar .actions button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.searchBar .actions button .material-icons{
    color: gray;
    transition: all .3s ease-in-out;
}

.searchBar .actions button span:hover{
    color: rgb(0, 150, 255);
}